* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: inherit;
    color: inherit;
    font: inherit;
    list-style: none;
  }




header{
    width:100%;
    height: 100vw;
    background-image: url(../images/DALL·E\ 2024-07-17\ 17.37.41\ -\ \ a\ holiday\ village\ in\ Corsica\,\ by\ the\ sea.png);
    background-position:center ;
    background-repeat: no-repeat;
    background-size:cover;
}

:root{
    
}

